html {
  background-color: black;
  background-image: url("assets/backgroundTransparent.png");
  background-position: 50%;
  background-size: 1000px;
}


body {
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
}

div {
  color: white;
}

a {
  color: white;
  font-size: xx-large;
  text-decoration: none;
}

a:hover {
  color: cyan;
}

input {
  background-color: transparent;
  color: white;
  font-size: large;
  outline: 0;
  border-bottom-color: white;
  border-bottom-width: 2px;
  width: 300px;
  text-align: center;
  

  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 20px;
}

#logo {
  width: 400px;
  padding-top: 20px;
}

.gameRulesLink {
  padding-top: calc(100vh - 550px);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}