html {
  background-image: url("assets/backgroundTransparent.png");
  background-color: black;
  background-position: 50%;
  background-size: 1000px;
}


body {
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
