.card {
    border-radius: 6px;
    border-style: solid;
    display: inline-flex;
    width: 60px;
    height: 85px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-left: -20px;
    height: 85px;
}